html {
  font-size: 100px;
}
.container {
  width: 9.9rem;
  margin: 0 auto;
}
.container-sm {
  width: 8.98rem;
}

// 图片式标题
.headlineImg {
  width: auto;
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
}
// 上引号-蓝色
.quto-blue {
  &:before {
    content: "";
    width: 0.6rem;
    height: 0.49rem;
    background: url("../image/sprite3.png") no-repeat;
    position: absolute;
    top: -0.38rem;
    left: 0.46rem;
  }
}
// 下三角
.triangle-gray {
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 0.24rem solid transparent;
    border-left: 0.24rem solid transparent;
    border-top: 0.44rem solid #f2f2f2;
    position: absolute;
    bottom: -0.34rem;
    left: 0.46rem;
  }
}
