html{
 font-size: 100px;
}
.container {
  width: 9.9rem;
  margin: 0 auto;
}
.container-sm {
  width: 8.98rem;
}
.rich-banner {
  width: 100%;
  height: 7rem;
}
.headlineImg {
  width: auto;
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
}
.headline {
  margin-top: 1.32rem;
  margin-bottom: 0.90rem;
}
